.magz-video-once-wrapper {
  position: relative;
  margin-bottom: 30px;
  display: block;
  text-align: center;

  .magz-vo-content {
    position: relative;

    &:before {
      display: block;
      content: '';
      width: 100%;
      padding-top: 56.25%;
    }

    video {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.video {
  font: bold 17px/30px "SFD-SemiBold", sans-serif;
  position: relative;
  width: 100%;
  overflow: hidden;

  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 0 !important;
    min-height: auto !important;
  }

  .video-caption--right {
    right: 7%;
    left: inherit;
    text-align: right;
  }

  .video-caption {
    margin-top: 5px;
    position: absolute;
    left: 7%;
    bottom: 20%;
    width: 36.458vw;
    z-index: 3;
    color: #fff;
    text-shadow: 0 1px 2px #000;
    padding: 20px 0;
    font-family: "SFD-SemiBold";
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      position: relative;
      width: 90%;
      right: 0;
      text-align: left;
      padding: 0 5% 5%;
      left: 0;
      font-size: 18px;
      line-height: 28px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      position: relative;
      width: auto;
      left: 0;
      .video-summary {
        position: relative;
        width: 90%;
        right: 0;
        text-align: left;
        padding: 0 5% 5%;
        left: 0;
        font-size: 20px;
        line-height: 28px;
      }
    }
  }

  .scroll-prompt {
    position: absolute;
    bottom: 13.3265306122449vh;
    line-height: 20px;
    text-align: center;
    color: white;
    font-size: 10px;
    opacity: 0.8;
    font-weight: normal;
    text-transform: uppercase;
    z-index: 3;
    margin-left: 7%;
    padding-left: 112px;

    svg {
      fill: none;
      stroke: white;
      stroke-width: 2px;
    }
  }
}


.video-container {
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  &.overlay:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.45;
    z-index: 1;
    content: "";
  }

  .video-image-mobile {
    display: none;
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      display: block;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      display: block;
      position: relative;
    }
  }

  img, video {
    width: 100%;
    height: 100%;
    position: absolute;
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      position: relative;
      display: block;
    }
  }

  video, img.video-image {
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      display: none;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      display: none;
    }
  }


}

.video-source {
  font: 11px/1.4em "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #999;
  position: absolute;
  bottom: 10px;
  right: 7%;
  z-index: 3;
}

.column .video {
  border: solid 8px #f0f0f0;
  box-sizing: border-box;
  margin: 40px -10%;
  width: 120%;
}

.magz-video-wrapper {
  margin-top: 150px;
  margin-bottom: 100px;
  //@media (min-width: 768px) and (max-width: 1024px) {
  //  background-color: #ffffff !important;
  //}
  @media (min-width: 768px) and (max-width: 1024px) {
    .video-container {
      margin-bottom: 30px;
    }
  }
}

.magz-video-wrapper:first-child {
  margin-top: 0;
}

.magz-video-wrapper .video {
  min-height: 56.25vw;
}

.magz-video-wrapper-indicator {
  font-family: arial;
  position: absolute;
  line-height: 1.4em;
  top: 50%;
  right: 20px;
  color: #fff;
  white-space: pre;
  z-index: 1;
}

.video {
  float: left;
}

.video + p {
  clear: left;
}

.magz-video-wrapper .video:last-of-type .video-caption {
  bottom: 30%;
}

.video .video-caption--long {
  width: 40%;
  bottom: 12.44%;
}

.video .video-caption--center {
  left: inherit;
  text-align: center;
  width: 50%;
  margin: 0 25%;
}

.video .video-caption--head {
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.video-caption--head .video-headline {
  position: absolute;
  top: 12%;
  color: #fff;
  left: 7%;
  border-bottom: solid 2px #fff;
  text-shadow: none;
  font-size: 3.906vw;
  line-height: 4.948vw;
  font-family: "Oswald-Regular";
  padding-bottom: 35px;
}

.video-caption--head .video-summary {
  position: absolute;
  top: auto;
  bottom: 24%;
  left: 7%;
  width: 36.458vw;
  text-shadow: 0 1px 2px #000;
  font-family: "SFD-SemiBold";
  font-size: 1.9vh;
  line-height: 2.9vh;

  @media only screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 20px;
    line-height: 28px;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    right: 5% !important;
    bottom: 24% !important;
  }
}


@media only screen and (min-width: 320px) {
  .mobile .navigation-left {
    margin-left: 25px;
  }

  .mobile .scroll-prompt {
    display: none;
  }

  /* GLOBAL STUFF */
  .mobile body {
    overflow-x: hidden;
  }

  .mobile #preview-banner {
    display: none;
  }

  .mobile .article {
    border-top: none;
  }

  .mobile .caption {
    line-height: 1.1;
  }

  .mobile .section h3 {
    margin-top: 50px;
  }

  /* STANDALONE INSET IMAGES */
  .mobile .image {
    width: 110%;
    margin: 40px -5%;
  }

  /* SECTION + SEQUENCES */
  .mobile .section {
    margin-top: 20px;
  }

  .mobile .magz-video-wrapper {
    background-color: #000;
  }

  .mobile .magz-video-wrapper:first-child {
    margin-top: 0px;
  }

  /* VIDEO SLIDE */
  .mobile .video {
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
  }

  .mobile .magz-video-wrapper .video, .mobile .video-container {
    overflow: visible;
  }

  .mobile .video-container {
    padding: 60px 0;
    position: relative;
    line-height: 0;
  }

  .mobile .video-source {
    bottom: 65px;
    right: 10px;
  }

  .mobile .video-rule {
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #333;
    left: 35%;
    right: 35%;
  }

  /* INTRO SLIDE */
  .mobile .magz-video-wrapper:first-child {
    padding-top: 0;
  }

  .mobile .magz-video-wrapper:first-child .video:first-of-type {
    padding-left: 0;
    padding-right: 0;
  }
  /* HEADLINE AND INTRO */

  .mobile .video-headline {
    left: 25px;
    top: 50px;
    border-bottom: none;
    color: white;
    font-size: 45px;
  }

  .mobile .video-headline .headline {
    bottom: auto;
    top: -2%;
    font-size: 45px;
    color: #FFF;
    line-height: 60px;
  }

  .mobile .video-summary {
    right: 7%;
    left: auto;
    top: auto;
    bottom: 0%;
    width: 280px;
    text-align: right
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .mobile .video-container {
    padding: 0;
  }

}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* SECTIONS + SEQUENCE */
  .mobile .column {
    margin-left: 5% !important;
    margin-right: 5% !important;
  }

  /* ARTICLE HEDS + SUBHEDS */
  .mobile .video-headline .headline, .mobile .headline {
    line-height: 50px;
    font-size: 35px;
    margin-bottom: 20px;
  }

  .mobile .section h3 {
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 28px;
  }


  .mobile .column .byline br:nth-of-type(1) {
    /*display: none;*/
  }

  .mobile .image {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .mobile .map {
    margin-right: 0;
    margin-left: 0;
    height: 100%;

    img {
      width: 100%;
      position: relative;
    }
  }

  .mobile .magz-video-wrapper {
    padding-top: 30px;
  }

  /* VIDEO SLIDE */
  .mobile .video {
    padding-left: 0px;
    padding-right: 0px;
  }

  .mobile .video-container {
    padding-top: 0px;
    padding-bottom: 20px;
  }

  .mobile .video-rule {
    display: none;
  }

  /* INTRO SLIDE */

  .mobile .video-caption--head {
    position: relative;
    float: none !important;
    margin-left: 0 !important;
    padding-bottom: 0 !important;
  }

  .mobile .video-headline .headline, .mobile .video-headline .byline {
    position: absolute;
    left: 25px;
  }

  .mobile .video-headline .byline {
    display: none;
  }

  .mobile .mobile-loaded .video-headline .byline {
    display: block;
  }

  .mobile .video-headline .headline {
    top: 50px;
    color: white;
  }

  .mobile .video-caption--head .headline br:nth-of-type(1) {
    //display: none;
    //width: 5px;
    //height: 5px;
  }

  .mobile .video-headline .byline {
    top: 90px;
    position: absolute;
    color: #FFF;
    border-top: none;
    letter-spacing: 0px;
    line-height: 16px;
  }

  .mobile .video-summary {
    position: static;
    float: left;
    text-align: left;
    width: auto;
    padding: 0 5% 5%;
  }


  .text-center{
    text-align: center !important;
  }
}
