//@font-face {
//  font-family: "SFPD-Light";
//  src: url("https://kenh14cdn.com/web_font/SFPD-light.otf");
//}
//
//@font-face {
//  font-family: "SFPD-SemiBold";
//  src: url("https://kenh14cdn.com/web_font/SFPD-SemiBold.otf");
//}
//
//@font-face {
//  font-family: "Saol-BookItalic";
//  src: url("https://kenh14cdn.com/web_font/Saol-BookItalic.otf");
//}
//
//@font-face {
//  font-family: "SFPD-Regular";
//  src: url("https://kenh14cdn.com/web_font/SFPD-Regular.otf");
//}
//
//@font-face {
//  font-family: 'SFD-Bold';
//  font-display: auto;
//  src: url('https://kenh14cdn.com/web_font/SFD-Bold.eot');
//  src: url('https://kenh14cdn.com/web_font/SFD-Bold.eot') format('embedded-opentype'), url('https://kenh14cdn.com/web_font/SFD-Bold.woff2'), url('https://kenh14cdn.com/web_font/SFD-Bold.woff') format('woff'), url('https://kenh14cdn.com/web_font/SFD-Bold.ttf') format('truetype'), url('https://kenh14cdn.com/web_font/SFD-Bold.svg#SFD-Bold') format('svg');
//}
//
//@font-face {
//  font-family: "nyt-cheltenham";
//  src: url("http://graphics8.nytimes.com/newsgraphics/2013/10/27/south-china-sea/assets/nyt-cheltenham-200-normal.woff") format("woff");
//  font-style: normal;
//  font-weight: 200;
//}
//
//
//@font-face {
//  font-family: 'NotoSerif-Regular';
//  font-display: auto;
//  src: url('https://kenh14cdn.com/web_font/NotoSerif-Regular.eot?');
//  src: url('https://kenh14cdn.com/web_font/NotoSerif-Regular.eot?') format('embedded-opentype'), url('https://kenh14cdn.com/web_font/NotoSerif-Regular.woff2'), url('https://kenh14cdn.com/web_font/NotoSerif-Regular.woff') format('woff'), url('https://kenh14cdn.com/web_font/NotoSerif-Regular.ttf') format('truetype'), url('https://kenh14cdn.com/web_font/NotoSerif-Regular.svg#NotoSerif-Regular') format('svg')
//}
//
//@font-face {
//  font-family: 'NotoSerif-Bold';
//  font-display: auto;
//  src: url('https://kenh14cdn.com/web_font/NotoSerif-Bold.eot?');
//  src: url('https://kenh14cdn.com/web_font/NotoSerif-Bold.eot?') format('embedded-opentype'), url('https://kenh14cdn.com/web_font/NotoSerif-Bold.woff2'), url('https://kenh14cdn.com/web_font/NotoSerif-Bold.woff') format('woff'), url('https://kenh14cdn.com/web_font/NotoSerif-Bold.ttf') format('truetype'), url('https://kenh14cdn.com/web_font/NotoSerif-Bold.svg#NotoSerif-Bold') format('svg')
//}
//
//@font-face {
//  font-family: 'NotoSerif-Italic';
//  font-display: auto;
//  src: url('https://kenh14cdn.com/web_font/NotoSerif-Italic.eot?');
//  src: url('https://kenh14cdn.com/web_font/NotoSerif-Italic.eot?') format('embedded-opentype'), url('https://kenh14cdn.com/web_font/NotoSerif-Italic.woff2'), url('https://kenh14cdn.com/web_font/NotoSerif-Italic.woff') format('woff'), url('https://kenh14cdn.com/web_font/NotoSerif-Italic.ttf') format('truetype'), url('https://kenh14cdn.com/web_font/NotoSerif-Italic.svg#NotoSerif-Italic') format('svg')
//}
//
//@font-face {
//  font-family: 'NotoSerif-BoldItalic';
//  font-display: auto;
//  src: url('https://kenh14cdn.com/web_font/NotoSerif-BoldItalic.eot?');
//  src: url('https://kenh14cdn.com/web_font/NotoSerif-BoldItalic.eot?') format('embedded-opentype'), url('https://kenh14cdn.com/web_font/NotoSerif-BoldItalic.woff2'), url('https://kenh14cdn.com/web_font/NotoSerif-BoldItalic.woff') format('woff'), url('https://kenh14cdn.com/web_font/NotoSerif-BoldItalic.ttf') format('truetype'), url('https://kenh14cdn.com/web_font/NotoSerif-BoldItalic.svg#NotoSerif-BoldItalic') format('svg')
//}
//
//
//@font-face {
//  font-family: 'SFD-Heavy';
//  font-display: auto;
//  src: url('https://kenh14cdn.com/web_font/SFD-Bold.eot?');
//  src: url('https://kenh14cdn.com/web_font/SFD-Bold.eot?') format('embedded-opentype'), url('https://kenh14cdn.com/web_font/SFD-Bold.woff2'), url('https://kenh14cdn.com/web_font/SFD-Bold.woff') format('woff'), url('https://kenh14cdn.com/web_font/SFD-Bold.ttf') format('truetype'), url('https://kenh14cdn.com/web_font/SFD-Bold.svg#SFD-Bold') format('svg')
//}
//
//@font-face {
//  font-family: 'SFD-SemiBold';
//  font-display: auto;
//  src: url('https://kenh14cdn.com/web_font/SFD-SemiBold.eot?');
//  src: url('https://kenh14cdn.com/web_font/SFD-SemiBold.eot?') format('embedded-opentype'), url('https://kenh14cdn.com/web_font/SFD-SemiBold.woff2'), url('https://kenh14cdn.com/web_font/SFD-SemiBold.woff') format('woff'), url('https://kenh14cdn.com/web_font/SFD-SemiBold.ttf') format('truetype'), url('https://kenh14cdn.com/web_font/SFD-SemiBold.svg#SFD-SemiBold') format('svg')
//}
//
//@font-face {
//  font-family: 'SFD-Bold';
//  font-display: auto;
//  src: url('https://kenh14cdn.com/web_font/SFD-Bold.eot?');
//  src: url('https://kenh14cdn.com/web_font/SFD-Bold.eot?') format('embedded-opentype'), url('https://kenh14cdn.com/web_font/SFD-Bold.woff2'), url('https://kenh14cdn.com/web_font/SFD-Bold.woff') format('woff'), url('https://kenh14cdn.com/web_font/SFD-Bold.ttf') format('truetype'), url('https://kenh14cdn.com/web_font/SFD-Bold.svg#SFD-Bold') format('svg')
//}
//
//@font-face {
//  font-family: 'SFD-Light';
//  font-display: auto;
//  src: url('https://kenh14cdn.com/web_font/SFD-Light.eot?');
//  src: url('https://kenh14cdn.com/web_font/SFD-Light.eot?') format('embedded-opentype'), url('https://kenh14cdn.com/web_font/SFD-Light.woff2'), url('https://kenh14cdn.com/web_font/SFD-Light.woff') format('woff'), url('https://kenh14cdn.com/web_font/SFD-Light.ttf') format('truetype'), url('https://kenh14cdn.com/web_font/SFD-Light.svg#SFD-Light') format('svg')
//}
//
//@font-face {
//  font-family: 'SFD-Medium';
//  font-display: auto;
//  src: url('https://kenh14cdn.com/web_font/SFD-Medium.eot?');
//  src: url('https://kenh14cdn.com/web_font/SFD-Medium.eot?') format('embedded-opentype'), url('https://kenh14cdn.com/web_font/SFD-Medium.woff2'), url('https://kenh14cdn.com/web_font/SFD-Medium.woff') format('woff'), url('https://kenh14cdn.com/web_font/SFD-Medium.ttf') format('truetype'), url('https://kenh14cdn.com/web_font/SFD-Medium.svg#SFD-Medium') format('svg')
//}
//
//
//@font-face {
//  font-family: 'MP-BoldCondensed';
//  font-display: auto;
//  src: url('https://kenh14cdn.com/web_font/MP-BoldCondensed.eot?');
//  src: url('https://kenh14cdn.com/web_font/MP-BoldCondensed.eot?') format('embedded-opentype'), url('https://kenh14cdn.com/web_font/MP-BoldCondensed.woff2'), url('https://kenh14cdn.com/web_font/MP-BoldCondensed.woff') format('woff'), url('https://kenh14cdn.com/web_font/MP-BoldCondensed.ttf') format('truetype'), url('https://kenh14cdn.com/web_font/MP-BoldCondensed.svg#MP-BoldCondensed') format('svg')
//}
//

@font-face {
  font-family: 'UTM-Wedding';
  font-display: auto;
  src: url('../styles/UTM-Wedding.ttf');
}