<div class="section w980 magz-map-wrapper">
    <div class="hnm-container clearfix">
        <div class="hnmw-left">
            <div class="hnmwl-map">

            </div>
        </div>
    </div>
    <div class="magz-caption">Bản đồ theo dõi diễn biến dịch tại Việt Nam. (Di chuột vào bản đồ để xem)
    </div>
</div>