/* shared */
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

textarea {
  resize: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  height: auto !important;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

a, a:hover {
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  text-decoration: none;
}

/*!
 * IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*
 * See the Getting Started docs for more information:
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

@font-face {
  font-family: 'UTM-Wedding';
  font-display: auto;
  src: url("../styles/UTM-Wedding.ttf");
}

/* */
/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT
Copyright (c) 2015 Daniel Eden
*/
body {
  -webkit-backface-visibility: hidden;
}

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
       animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
       animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
       animation-duration: 2s;
}

.animated.bounceIn, .animated.bounceOut {
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
    -o-animation-duration: 0.75s;
       animation-duration: 0.75s;
}

.animated.flipOutX, .animated.flipOutY {
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
    -o-animation-duration: 0.75s;
       animation-duration: 0.75s;
}

.fancybox-opening {
  opacity: 1;
  display: block;
}

.fancybox-type-image a.fancybox-close, .fancybox-type-image a.fancybox-expand, .fancybox-type-image a.fancybox-nav span {
  display: none;
}

.fancybox-closing {
  opacity: 0 !important;
}

.fancybox-image {
  cursor: zoom-out;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}

.fancybox-next, .lightbox .lb-next {
  cursor: url(https://kenh14cdn.com/web_images/sp-next-cursor.png), auto !important;
}

.fancybox-prev, .lightbox .lb-prev {
  cursor: url(https://kenh14cdn.com/web_images/sp-prev-cursor.png), auto !important;
}

.fancybox-expand {
  display: none;
}

.fancybox-title-outside-wrap {
  width: auto;
  color: #666 !important;
  text-shadow: none !important;
  padding-top: 0;
  font-family: SFD-Regular;
  font-size: 15px;
  line-height: 19px;
}

.fancybox-sharefb {
  display: block;
  padding-left: 30px;
  width: 50px;
  height: 26px;
  background: #f1f1f1;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  position: relative;
  font-family: SFD-SemiBold;
  font-size: 12px;
  color: #666;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 26px;
  margin-top: 10px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.fancybox-sharefb:hover {
  color: #222;
  border-color: #aaa;
}

.fancybox-sharefb:before {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 5px;
  left: 5px;
  background: url(https://kenh14cdn.com/web_images/sp-fbshare-icon.png) center center #425a9d no-repeat;
  -moz-background-size: 6px;
    -o-background-size: 6px;
       background-size: 6px;
  content: '';
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.fancybox-comment {
  overflow: hidden !important;
}

.fancybox-comment .fancybox-wrap {
  top: 100% !important;
  margin: 0 !important;
  box-shadow: 0 3px 100px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 100px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 100px rgba(0, 0, 0, 0.5);
  padding-top: 100px !important;
  -webkit-transform: translateY(100%);
     -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
       -o-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  -o-transition: -o-transform .4s;
  -moz-transition: transform .4s, -moz-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s, -moz-transform .4s, -o-transform .4s;
  -webkit-transition: transform .4s;
  -moz-transition: transform .4s;
  opacity: 1 !important;
  visibility: visible !important;
  display: block !important;
}

.fancybox-comment .fancybox-open {
  -webkit-transform: translateY(-100%);
     -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
       -o-transform: translateY(-100%);
          transform: translateY(-100%);
}

.fancybox-comment .fancybox-comment-closing {
  -webkit-transform: translateY(100%);
     -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
       -o-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: -o-transform .3s;
  -moz-transition: transform .3s, -moz-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s, -moz-transform .3s, -o-transform .3s;
  -webkit-transition: transform .3s;
  -moz-transition: transform .3s;
}

.fancybox-comment .fancybox-overlay {
  opacity: .95;
}

.fancybox-comment-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding-left: 72px;
  font-family: SFD-Bold;
  font-size: 28px;
  line-height: 70px;
  color: #333;
  text-transform: uppercase;
  background: url(https://kenh14cdn.com/web_images/sp-comment-header-icon.png) #fff 30px center no-repeat;
  -moz-background-size: 29px;
    -o-background-size: 29px;
       background-size: 29px;
}

.fancybox-comment .fancybox-close {
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  border-left: 1px solid #ececec;
  background: url(https://kenh14cdn.com/web_images/sp-close-lightbox.png) center center no-repeat !important;
  -moz-background-size: 26px !important;
    -o-background-size: 26px !important;
       background-size: 26px !important;
}

.fancybox-comment-overlay {
  opacity: .9;
}

a.fancybox-next {
  right: 0 !important;
}

a.fancybox-prev {
  left: 0 !important;
}

a.fancybox-nav {
  width: 35% !important;
}

.fancy-nextthumb {
  display: block;
  width: 100%;
  position: absolute;
  left: 100%;
  -o-transition: opacity .3s;
  -moz-transition: opacity .3s;
  transition: opacity .3s;
  -webkit-transition: opacity .3s;
  height: 70%;
  top: 15%;
  text-align: left;
  cursor: url(https://kenh14cdn.com/web_images/sp-next-cursor.png), auto !important;
}

.fancy-nextthumb img, .fancy-prevthumb img {
  height: 100%;
  width: auto;
  opacity: .2;
  -o-transition: opacity .3s;
  -moz-transition: opacity .3s;
  transition: opacity .3s;
  -webkit-transition: opacity .3s;
}

.fancy-nextthumb:hover img, .fancy-prevthumb:hover img {
  opacity: .6 !important;
}

.fancy-nextthumb img:hover, .fancy-prevthumb img:hover {
  opacity: 1 !important;
}

.fancy-nextthumb img {
  margin-left: 10%;
}

.fancy-prevthumb img {
  margin-right: 10%;
}

.fancy-prevthumb {
  display: block;
  width: 100%;
  position: absolute;
  right: 100%;
  -o-transition: opacity .3s;
  -moz-transition: opacity .3s;
  transition: opacity .3s;
  -webkit-transition: opacity .3s;
  height: 70%;
  top: 15%;
  text-align: right;
  cursor: url(https://kenh14cdn.com/web_images/sp-prev-cursor.png), auto !important;
}

.map-wrapper {
  padding-bottom: 56.67%;
  position: relative;
}

.map-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet-active {
  background: #665229;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -30px;
}
