<footer class="wedding-footer bg-9e8c62 text-2d3b35 text-center text-md py-2">
    <div class="section footer-section">
        Bản quyền thuộc về <a href="https://microvn.net" class="text-white">microvn.net</a>
    </div>
</footer>